a {
    color: slategrey;
}

a:hover {
    color: slategrey;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
}

.like {
  fill: lightpink;
    background-color: transparent;
}

.liked {
  fill: mediumvioletred;
    background-color: transparent;
}
/*.like:hover {*/
/*  fill: darkred;*/
/*    background-color: transparent;*/
/*}*/



#photo:hover {
    box-shadow: 0 0 1em dimgrey;
}

#main-header {
    /*display: inline-block;*/
    font:  40px 'Cookie', Helvetica, sans-serif;
    color: white;
    padding: 0;
    border: none;
    /*text-align: center;*/
    /*justify-content: center;*/
}

.navbar {
    background-color: #ffcccc;
    border-radius: 100px;
    border:  transparent;
    width: 150px;
    height: 150px;
}

#bars {
    fill: slategrey;


}

hr {
    width: 51%;
}


.info {
    width: 51%;
    border: solid 2px transparent;
    background-color: ghostwhite;
    border-radius: 20px;
}



.comment {
    width: 48%;
    display: inline-block;
    border: solid 1px darkgray ;
    background-color: ghostwhite;
    border-radius: 20px;
    padding: 10px;

}

.photo-details {
    border: solid 1px transparent ;
    border-radius: 20px;
}



/*.add-comment span {*/
/*    display: inline-block;*/
/*        padding: 10px;*/
/*    margin-left: 120px;*/

/*    !*width: 50%;*!*/
/*}*/

.add-comment input[type=text] {
    border: darkgray solid 1px;
    border-radius: 20px;
    height: 40px;

}

/*.add-comment input[type=submit] {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*   !*margin-left: 100px;*!*/

/*}*/

.comm {
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 20px;

}


.myform {
    margin: 10px auto;
    max-width: 300px;
    padding: 20px 12px 10px 25px;
}

.myform label {
    margin:0 0 3px 0;
	padding:0;
	display:block;
    width: 100%;

}

.myform input, select {
    padding: 0;
	display: block;
    justify-content: center;
	margin: 10px 0 0 0;
    width: 95%;
}

.myform textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.header {
    font-size: 20px;
}