{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load avatar_tags %}
{% load octicons %}

{% block content %}
    <div class="text-center mt-3">

    <div class="mb-2">
    <img src="{{ photo.path.url }}" style="max-width: 40rem" class="photo-details">
    </div>
    <div class="info mx-auto">
    <div class="mb-2 mt-3">{% avatar photo.user 30 class="rounded-circle" id="user_avatar" %}
        <a class="ml-1" href="{% url 'profile' photo.user.id %}">{{ photo.user }}</a>
        <i>{{ photo.description }}</i>
    </div>
    <div >
    Posted: {{ photo.creation_date }}
    </div>

    {% if photo.like_set.count > 0 %}
     <p>
    Likes: {{ photo.like_set.count }}
    </p>
    {% endif %}
    {% if request.user == photo.user %}
    <div>
        <a class="icon pr-2" href="{% url 'delete' photo.id %}">{% octicon 'trashcan' height='25' %}</a>
    <a class="icon" href="{% url 'update' photo.id %}">{% octicon 'tools' height='20' %}</a>
    </div>
    {% endif %}
    </div>
    <div class="comments mt-3">
    {% if comments %}
        <p><b>Comments</b></p>
        {% for comment in comments %}
            <div class="mb-2">
            <span> {% avatar comment.comment_user 30 class="rounded-circle" id="user_avatar" %}</span>
                <span class="comment text-left"><b><a href="{% url 'profile' comment.comment_user.id %}">{{ comment.comment_user }}</a></b> {{ comment.content}}</span>
            </div>
    {% endfor %}
    <hr>
    {% endif %}

    <p><b>Add comment</b></p>

        <form action="{%  url 'photo' photo.id %}"  method="post">
            {% csrf_token %}
            <div class="add-comment">
            <span> {% avatar user 30 class="rounded-circle" id="user_avatar" %}</span>
            <span class="comm">{{ form}}</span>
                <span><input type="submit" value="Publish"></span>
            </div>
    </form>
    </div>
    </div>


{% endblock %}



