{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="text-center mt-3">

    <div>
    <img src="{{ photo.path.url }}">
    </div>
    <div>
        <i>
    {{ photo.description }}
            </i>
    </div>
    <div>
    Posted: {{ photo.creation_date }}
    </div>

    {% if photo.like_set.count > 0 %}
     <p>
    Likes: {{ photo.like_set.count }}
    </p>
    {% endif %}
    <hr>
    <div class="comments">Comments
        {% for comment in comments %}
            <p>{{ comment.comment_user }}: {{ comment.content}}</p>
    {% endfor %}
    <hr>

    <p>Add comment:</p>
        <form action="{%  url 'photo' photo.id %}"  method="post">
            {% csrf_token %}
            {{ form | crispy }}
        <input class="mt-2" type="submit" value="Publish">
    </form>
    </div>
    </div>


    <script>
     $(".comments").on('click', (function(){
        $(this).children().toggle();
    })
     )

</script>

{% endblock %}



