{% extends "base.html" %}
{% load octicons %}
{% load avatar_tags %}

{% block content %}


    <div class="text-center mt-3 mx-3">Your gallery</div>


{#<div class="card-columns mx-5 px-5 py-1">#}
<div class="column-md-6">
<div class="row mx-3">



{% for photo in photos %}
     <div class="card my-3  mx-auto" id="photo" style="width: 10rem;">
        <a href="{% url 'photo' photo.id %}"><img class="card-img" src="{{ photo.path.url }} "></a>
         <div class="card-body">
     <p class="card-text mx-1">{{ photo.description }}</p>
         <p class="card-text mx-1"><small class="text-muted">Added: {{ photo.creation_date }}</small></p>
</div>

     </div>


     {% endfor %}

</div>
</div>





{% endblock %}

